@import "../variables";

.banner-sec{
  background:url(https://static.pexels.com/photos/33972/pexels-photo.jpg) no-repeat center;
  background-size:cover;
  min-height: 80vh;
  border-radius: 0 10px 10px 0;
  padding:0;
}
.signup-container{
  background:#fff;
  border-radius: 10px;
  //box-shadow:15px 20px 0px rgba(0,0,0,0.1);
  padding: 50px;
}

.form-check{
  padding-left: 0 !important;
  margin-top: 25px !important;

}

.form-check .btn{
  font-size: 0.85rem !important;
}

.login-sec{padding: 50px 30px; position:relative;}

.login-sec h2{
  margin-bottom:30px;
  font-weight:800;
  font-size:30px;
  color: $blue;
}